In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("hulu_titles.csv")

In [16]:
# to display the first 10 rows of the Pandas DataFrame called chipo
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
5,s6,TV Show,The Halloween Candy Magic Pet,NaN,NaN,NaN,"October 22, 2021",2021,NaN,1 Season,"Family, Kids",Join Mila and Morphle on a mystery-filled Hall...
6,s7,Movie,The Evil Next Door,NaN,NaN,NaN,"October 21, 2021",2020,NaN,88 min,"Horror, Thriller","New to her role as a stepmom, a young woman mo..."
7,s8,TV Show,The Next Thing You Eat,NaN,NaN,NaN,"October 21, 2021",2021,NaN,1 Season,"Cooking & Food, Documentaries, Lifestyle & Cul...",With the unique insights and experience of Ugl...
8,s9,TV Show,Queens,NaN,NaN,NaN,"October 20, 2021",2021,TV-14,1 Season,"Drama, Music",Four women in their 40s reunite for a chance t...
9,s10,TV Show,The Bachelorette,NaN,NaN,United States,"October 20, 2021",2003,TV-14,3 Seasons,"Reality, Romance",ABC's romance reality show lets one lucky lady...

In [17]:
# To provide a summary of information about the DataFrame chipo. It provides useful information such as data types and number of missing values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [20]:
# To return the the number of rows and columns of the DataFrame.
df.shape

(3073, 12)

In [23]:
# To return the number of columns in the dataset
df.shape[1]

12

In [24]:
# To Print the name of all the columns.
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [25]:
# To return the index labels used in the df DataFrame
df.index

RangeIndex(start=0, stop=3073, step=1)

In [26]:
# To return a two-dimensional NumPy array that contains the data stored in the DataFrame.
df.values

array([['s1', 'Movie', "Ricky Velez: Here's Everything", ..., nan,
        'Comedy, Stand Up',
        '\u200bComedian Ricky Velez bares it all with his honest lens and down to earth perspective in his first-ever HBO stand-up special.'],
       ['s2', 'Movie', 'Silent Night', ..., '94 min',
        'Crime, Drama, Thriller',
        'Mark, a low end South London hitman recently released from prison, tries to go straight for his daughter, but gets drawn back in by Alan, his former cellmate, to do one final job.'],
       ['s3', 'Movie', 'The Marksman', ..., '108 min',
        'Action, Thriller',
        'A hardened Arizona rancher tries to protect an 11-year-old migrant boy fleeing from a ruthless drug cartel.'],
       ...,
       ['s3071', 'TV Show', 'The Fades', ..., '1 Season',
        'Horror, International, Science Fiction',
        'Seventeen-year-old Paul is haunted by apocalyptic dreams. Worse still, Paul is starting to see the Fades, spirits of the dead, all around him. The fate of humanity now rests in his hands.'],
       ['s3072', 'TV Show', 'The Twilight Zone', ..., '5 Seasons',
        'Classics, Science Fiction, Thriller',
        "Rod Serling's seminal anthology series focused on ordinary folks who suddenly found themselves in extraordinary, usually supernatural, situations."],
       ['s3073', 'TV Show', 'Tokyo Magnitude 8.0', ..., '1 Season',
        'Anime, Drama, International',
        'The devastation is unleashed in the span of seconds. An ancient rift in the Earth gives way and a force equivalent to over a thousand atomic bombs erupts beneath the feet of the citizens of the world’s largest mega-cities! In the mangled streets, three survivors must brave impossible obstacles and endure unspeakable hardships, with no way of knowing if their loved ones are still alive. In the aftermath of nature’s fury, only the strongest of will and most courageous of heart can hope to survive in TOKYO MAGNITUDE 8.0!']],
      dtype=object)

In [8]:
# Get data types of multiple columns
column_data_types = df.dtypes
print(column_data_types)

show_id          object
type             object
title            object
director         object
cast            float64
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
dtype: object

In [9]:
# Get data type of a single column
column_data_type = df['cast'].dtype
print(column_data_type)

float64

In [10]:
# chipo is the name of the dataframe
df.sort_values("cast")

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [13]:
# Sorting in Descending Order
df.sort_values("cast", ascending=False)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...,...,...,...,...,...,...,...,...,...
3068,s3069,TV Show,Star Trek: The Original Series,NaN,NaN,United States,NaN,1966,TV-PG,3 Seasons,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,s3070,TV Show,Star Trek: Voyager,NaN,NaN,United States,NaN,1997,TV-PG,7 Seasons,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,s3071,TV Show,The Fades,NaN,NaN,United Kingdom,NaN,2011,TV-14,1 Season,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,s3072,TV Show,The Twilight Zone,NaN,NaN,United States,NaN,1959,TV-PG,5 Seasons,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,s3073,TV Show,Tokyo Magnitude 8.0,NaN,NaN,Japan,NaN,2009,TV-14,1 Season,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [14]:
# sorting by multiple columns
df.sort_values(["cast", "country"])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1562,s1563,Movie,The Hornet's Nest,NaN,NaN,"Afghanistan, United States","July 1, 2020",2014,R,97 min,Documentaries,Journalists Mike and Carlos Boettcher follow U...
691,s692,TV Show,Mr Inbetween,NaN,NaN,Australia,"May 26, 2021",2018,TV-MA,3 Seasons,"Crime, Drama",Hardened by the prison system and his experien...
1089,s1090,Movie,The Osiris Child,NaN,NaN,Australia,"December 30, 2020",2017,99 min,NaN,"Action, Adventure, Horror",When a dangerous outbreak threatens to destroy...
1410,s1411,Movie,Awoken,NaN,NaN,Australia,"September 6, 2020",2019,88 min,NaN,"Horror, Mystery, Thriller",A young medical student tries to cure her brot...
1414,s1415,Movie,First Day,NaN,NaN,Australia,"September 3, 2020",2020,1 Season,NaN,"Family, International, Kids",It’s Hannah Bradford’s first year of high scho...
...,...,...,...,...,...,...,...,...,...,...,...,...
2894,s2895,TV Show,CSI: Crime Scene Investigation (Español),NaN,NaN,NaN,"April 7, 2015",2000,TV-14,16 Seasons,"Crime, Drama, Latino","Situado en las arenosas calles de Las Vegas, C..."
2952,s2953,TV Show,Hello Ladies,NaN,NaN,NaN,"February 11, 2014",2013,TV-MA,1 Season,Comedy,Stephen Merchant ('Extras') is a British trans...
2956,s2957,TV Show,Garfunkel And Oates,NaN,NaN,NaN,"January 1, 2014",2012,TV-MA,1 Season,"Comedy, Music",Enjoy the edgy escapades of a musical comedy d...
2982,s2983,Movie,(Sub) Legend of Heroes: Trails in the Sky,NaN,NaN,NaN,"August 31, 2013",2011,PG-13,84 min,"Anime, International, Science Fiction","Ten years ago, an invasion by the Erebonians a..."
3051,s3052,TV Show,Doctora Juguetes,NaN,NaN,NaN,NaN,2012,TV-Y,1 Season,"Kids, Latino",Una mágica serie animada acerca de Doc McStuff...

In [15]:
# sorting by multiple columns : first ascending and then in descending order
df.sort_values(["cast", "rating"], ascending=[True, False])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
344,s345,TV Show,The Tick,NaN,NaN,NaN,"August 22, 2021",1994,TV-Y7,3 Seasons,"Action, Adventure, Family","Attention Evil-doers! The Tick is here, and he..."
459,s460,TV Show,Cleopatra in Space,NaN,NaN,NaN,"July 14, 2021",2020,TV-Y7,3 Seasons,"Adventure, Comedy, Kids",The first season find Cleo learning to adjust ...
844,s845,TV Show,Unikitty,NaN,NaN,"United States, Denmark","April 1, 2021",2017,TV-Y7,3 Seasons,"Action, Adventure, Comedy",Cartoon Network is transporting viewers to a j...
1143,s1144,TV Show,Future-Worm!,NaN,NaN,United States,"December 1, 2020",2016,TV-Y7,1 Season,"Adventure, Kids, Science Fiction",Follow Danny and Future-Worm! while they navig...
1144,s1145,TV Show,Kick Buttowski: Suburban Daredevil,NaN,NaN,United States,"December 1, 2020",2011,TV-Y7,2 Seasons,"Adventure, Cartoons, Kids",Kick Buttowski is an extraordinary kid determi...
...,...,...,...,...,...,...,...,...,...,...,...,...
2544,s2545,Movie,28 Hotel Rooms,NaN,NaN,NaN,"February 15, 2018",2013,NaN,83 min,Drama,On a business trip a married woman and a novel...
2632,s2633,Movie,(Dub) Dragon Age: Dawn of the Seeker,NaN,NaN,NaN,"September 5, 2017",2012,NaN,91 min,Anime,A brash young Seeker - Cassandra - is accused ...
2697,s2698,TV Show,The Driver,NaN,NaN,United States,"August 16, 2017",2017,NaN,1 Season,"Documentaries, Lifestyle & Culture",Jeffrey Earnhardt is the grandson of seven-tim...
2874,s2875,TV Show,NASA Television Documentaries,NaN,NaN,United States,"July 13, 2015",2015,NaN,1 Season,"Documentaries, Science & Technology",NASA's Vision: To reach for new heights and re...
3027,s3028,TV Show,NASA 360,NaN,NaN,United States,"September 15, 2010",2010,NaN,2 Seasons,Science & Technology,NASA 360 examines how technologies developed b...

In [18]:
# selecting a single column called item_price
subset_df = df["director"]
print(subset_df)

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
3068    NaN
3069    NaN
3070    NaN
3071    NaN
3072    NaN
Name: director, Length: 3073, dtype: object

In [19]:
# selecting multiple columns
subset_df1 = df[["cast", "director", "country"]]
print(subset_df1)

      cast director         country
0      NaN      NaN             NaN
1      NaN      NaN             NaN
2      NaN      NaN             NaN
3      NaN      NaN             NaN
4      NaN      NaN             NaN
...    ...      ...             ...
3068   NaN      NaN   United States
3069   NaN      NaN   United States
3070   NaN      NaN  United Kingdom
3071   NaN      NaN   United States
3072   NaN      NaN           Japan

[3073 rows x 3 columns]